# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

#hide some file
/src/Components/Header
/src/Components/Main

#hide Few files name
/src/Components/routes/index.js
/src/Components/Card/HospitalCards.js
/src/Components/Card/CardComponent.js
/src/routes/index.js
/src/App.js
/src/config/AscDsc/Asc_Dsc.js



# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

#env hide
.env


npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local Netlify folder
.netlify