body {
  overflow-x: hidden;
}
.MainDiv1 {
  width: 80px;
  background-color: black;
}
.icon-decider {
  position: relative;
  top: 28px;
  transition: transform 0.3s ease-out;
  transform-origin: left;
  cursor: pointer;
}
.left {
  background: rgb(247, 245, 0);
  background: linear-gradient(
    90deg,
    rgba(247, 245, 0, 0.9163866230085784) 25%,
    rgba(194, 223, 40, 1) 75%
  );
  padding: 10px;
  border-radius: 50%;
  position: relative;
  left: 30px;
}
.right {
  position: relative;
  left: 190px;
  background: rgb(247, 245, 0);
  background: linear-gradient(
    90deg,
    rgba(247, 245, 0, 0.9163866230085784) 25%,
    rgba(194, 223, 40, 1) 75%
  );
  padding: 10px;
  overflow: hidden;
  border-radius: 50%;
}
#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  overflow: auto;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}
.fix {
  overflow: clip;
}
#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
  margin-bottom: -10px;
}
#sidebar-wrapper .list-group {
  width: 15rem;
}
.list-group {
  text-align: left;
  margin-top: 30px;
}
.list-group a {
  padding-left: 30px;
}
.list-group button {
  padding-left: 30px;
}

#page-content-wrapper {
  min-width: 100vw;
  visibility: hidden;
}
#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 760px) {
  #sidebar-wrapper {
    margin-left: 0;
  }
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
    visibility: hidden;
  }
  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
@media (max-width: 760px) {
  #page-content-wrapper {
    visibility: visible;
  }
}
#wrapper {
  background-color: lightblue;
}

.icon {
  background: rgb(247, 245, 0);
  background: linear-gradient(
    90deg,
    rgba(247, 245, 0, 0.9163866230085784) 25%,
    rgba(194, 223, 40, 1) 75%
  );
  padding: 9px;
  padding-right: 5px;

  padding-top: 7px;
  height: 38px;
  width: 38px;

  display: inline-block;
  border-radius: 4px;
}
.icon_dark {
  background: rgb(247, 245, 0);
  background: linear-gradient(
    90deg,
    rgba(247, 245, 0, 0.9163866230085784) 25%,
    rgba(119, 122, 111, 1) 75%
  );
  padding: 9px;
  padding-right: 5px;

  padding-top: 7px;
  height: 38px;
  width: 38px;

  display: inline-block;
  border-radius: 4px;
}

.dropdownmenu a {
  padding-left: 65px;
}

.icon_dropdown {
  position: relative;
  left: 40px;
}

.dropdownmenu {
  position: relative;
}

.topnav a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav span {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a.active {
  font-weight: bolder;
  color: white;
}

.Dark_theme .border-right,
.list-group a {
  background-color: black;
}

.day_theme .border-right {
  background-color: white;
}
.day_theme a,
.sidebar-heading {
  background-color: white;
  color: black;
  font-weight: bold;
}

.Dark_theme a,
.sidebar-heading {
  background-color: black;
  color: white;
  font-weight: bold;
}
